<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menú de Pizzas</title>
    <link rel="stylesheet" th:href="@{/css/tablas.css}">
    <script src="pizzas.js"></script>
</head>
<body>
<h1>Menú de Pizzas</h1>
<a href="/pedidos">Pedidos</a><br>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Ingredientes</th>
        <th>Precio (€)</th>
        <th>Imagen</th>
        <th>Disponible</th>
        <th id="thAcciones">Acciones</th> <!-- ID agregado para ocultar si el usuario no es admin -->
        <th>Agregar</th>
    </tr>
    </thead>
    <tbody id="tablaPizzas">

    </tbody>
</table>
<h2>Carrito</h2>
<table id="carrito">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<button id="botonPedido" >Hacer Pedido</button>
<div id="div1"></div>
</body>
</html>
