<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Pedidos</title>
  <script src="pedidos.js"></script>
  <link rel="stylesheet" th:href="@{/css/tablas.css}">
</head>
<body>
<h1>Lista de Pedidos</h1>
<a href="/pizzas">Catalogo de Pizzas</a><br>
<table>
  <thead>
  <tr>
    <th>Cliente</th>
    <th>Pizzas</th>
    <th>Total (€)</th>
    <th>Fecha</th>
    <th>Estado</th>
    <th id="thAcciones" >Acciones</th>
  </tr>
  </thead>
  <tbody id="tablaPedidos">

  </tbody>
</table>

</body>
</html>
